<div>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <button type="submit">Submit</button>
    </form>
</div>