<div>
    <form action="/loginpost" method="post">
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <button type="submit">Submit</button>
    </form>
</div>